@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Chat App</h1>
        <ul>
            <a asp-page="/Chat">Chat</a>
        </ul>
    </div>
</div>

