@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Chat App</h1>
        <ul>
            <li><a asp-page="/Account/Register">Register</a></li>
            <li><a asp-page="/Account/Login">Log in</a></li>
        </ul>
    </div>
</div>
